<title>
  <h3>Google Maps</h3>
</title>
  <div id="map" style="width:100%;height:400px"></div>
  <script type="text/javascript">
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: -6.242053, lng: 106.836305},
          zoom: 14
        });
        setMarkers(map);
      }
      // ambil dari mongo
      var points = [
        [1,-6.242053, 106.836305, 1],
        [2,-6.241936, 106.83626, 2],
        [3,-6.241904, 106.835822, 3],
        [4,-6.241979, 106.835404, 5],
        [5,-6.242267, 106.835812, 4]
      ];

      var image = ["#9f51ff","#036084","#ffd651","#d0ff51","#F00"];

      function setMarkers(map) {
        for (var i = 0; i < points.length; i++) {
          var point = points[i];
          var marker = new google.maps.Marker({
            position: {lat: point[1], lng: point[2]},
            map: map,
            title: point[0],
            icon: {
                path: google.maps.SymbolPath.CIRCLE,
                scale: 12,
                fillColor: image[i],
                fillOpacity: 0.8,
                strokeWeight: 0.4
            },
            zIndex: point[3]
          });
          marker.addListener('click', toggleBounce);
      }
       
      }

      function toggleBounce() {
        if (marker.getAnimation() !== null) {
          marker.setAnimation(null);
        } else {
          marker.setAnimation(google.maps.Animation.BOUNCE);
        }
      }
  </script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBT8nTb6hWHwM9S0Exa1asMar7duy26k7E&callback=initMap">
  </script>
