<title>Sensor CO Level</title>
<div id="colevel" style="width:600px;height:300px"></div>

<script type="text/javascript">
io.socket.get('/colevel/subscribe', function(data, jwr) {

    var datanya = [{label:"cumi",data:[]}];

    io.socket.on('colevel', function(entry) {
        tanggal = new Date(entry.createdAt);
        if (datanya[0].data.length >15) {
            datanya[0].data.shift();
        }
        datanya[0].data.push( [ tanggal.getSeconds(), parseInt(entry.value)  ]  )

        var options = {
            xaxis: {
                tickDecimals: 0
            },
            yaxis: {
                min: 0
            },
            legend: {
                show:false
            },
            selection: {
                mode: "x"
            }
        };

        $.plot($("#colevel"),  datanya , options);
    })
})
</script>
