<title>Sensor CO Level</title>
<h3>Sensor Tingkat Karbon Monoksida<h3>
<div"id="colevel" style="width:600px;height:300px"></div>

<script type="text/javascript">

// Gambar Dulu
    $(function() {
        var initd = false;

        var data = [], totalPoints = 15;
        var myticks = [];

        function inits() {

            if (data.length > 0) data = data.slice(1);

            while (data.length < totalPoints) {

                var prev = data.length > 0 ? data[data.length - 1] : 50, y = prev + Math.random() * 10 - 5;

                y = 0;
                data.push(y);
            }

            var res = [];
            for (var i = 0; i < data.length; ++i) {
                res.push([i, data[i]])
            }

            initd = true;
            return res;
        }

        function initTick() {

            if (myticks.length > 0) myticks = myticks.slice(1);

            while (myticks.length < totalPoints) {

                var prev = myticks.length > 0 ? myticks[myticks.length - 1] : 50, y = prev + Math.random() * 10 - 5;

                y = 0;
                myticks.push(y);
            }

            var res = [];
            for (var i = 0; i < myticks.length; ++i) {
                res.push([i, myticks[i]])
            }

            initd = true;
            return res;
        }


        function pushData(val) {
            data = data.slice(1);
            data.push(val);

            var res = [];
            for (var i = 0; i < data.length; ++i) {
                res.push(
                    [i, data[i]]
                )
            }

            return res;
        }


        function pushTick(time) {
            myticks = myticks.slice(1);

            momen = moment( new Date( time ) ).format("HH:mm:ss");

            console.log(momen);

            myticks.push( momen );

            var res = [];
            for (var i = 0; i < myticks.length; ++i) {
                res.push(
                    [i, myticks[i]]
                )
            }

            return res;
        }

        var plot = $.plot("#colevel", [ inits() ], {
            series: {
                shadowSize: 0   // Drawing is faster without shadows
            },
            yaxis: {
                min: 0
            },
            xaxis: {
                show: true,
                ticks:myticks
            }
        });

        function update(val,time) {
            
            if( !initd )  plot.setData([inits()]);
            else plot.setData( [ pushData(val) ]);
            
            plot.setupGrid()

            plot.draw();
            //setTimeout(update, 20);
        }

        update(0,0);

        io.socket.get('/colevel/subscribe', function(data, jwr) {

            io.socket.on('colevel', function(entry) {
                update(entry.value,entry.createdAt);
            })
        })
})
</script>
